h1 {
  text-align: center;
  font-size: xx-large;
  color: white;
}

h2 {
  text-align: center;
  font-size: large;
}

.header {
  background-color: black;
  position: sticky;
}

.login_container {
  background-color: RGBA(0, 0, 0, 0.5);
  max-width: 25em;
  margin: auto;
  border-radius: 4%;
}

body {
  background: url("https://i.imgur.com/rAZzDml.jpg") no-repeat;
  background-color: #dae8f3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
