/* div.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 20%;
  margin: 0 auto;
} */

/* div.UserCard {
  margin-top: 20px;
  margin-left: 5%;
  height: 64vh;
} */

h4 {
  text-align: center;
  font-size: 16px;
}

body {
  background-color: black;
}
