.login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin: auto;
}

.login-form-button {
  width: 100%;
}

#error {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.Logo {
  object-fit: contain;
  max-width: 20%;
  margin-left: 40%;
  margin-top: 8%;
}
